.main-logo {
    width: 32px;
}

.main-text-logo {
    color: #020814 !important;
    font-weight: bolder;
}

.main-border-right {
    border-right: 2px solid #f1f5f8;
}

.main-border-bottom {
    border-bottom: 2px solid #f1f5f8;
}

.main-height-nav-sp {
    height: calc(100vh - 68px);
    overflow-y: scroll;
}

.main-h1 {
    font-size: 56px;
}

.main-h4 {
    font-size: 18px !important;
}

.main-active {
    color: #020814 !important;
    font-weight: 600;
}

.main-left-margin-content {
    margin-left: 300px;
}

.main-text-primary {
    color: #020814 !important;
}

.main-text-content {
    color: #73849e !important;
    line-height: 2 !important;
}
